<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input class="search-inp" placeholder="Search"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-card class="welcome-card">
      <ion-img src="/assets/man.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Groundifly</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your'e aboard let's get your adventure started!</p>
        <p>You can find training grounds easier than before, go ahead and discover the world!</p>
      </ion-card-content>
    </ion-card> -->
</ion-content>
